.containerContac {
    display: flex;
    flex-direction: row;
    background-color: rgb(17, 27, 33);
    color: white;
    height: 100vh;
    position: relative;
}

.titleContac {
    padding: 10px;
    font-size: 1.5rem;
    position: sticky;
    top: 0;
    background-color: rgb(17, 27, 33);
}

.listContac {
    overflow-y: scroll;
    width: 100%;
}

.listContac::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.listContac::-webkit-scrollbar-thumb {
    background-color: #81808062;
}

.contac {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-size: 1rem;
    padding: 10px;
}

.imgContac {
    width: 50px;
    border-radius: 50%;
}

@media screen and (min-width:500px) {
    .listContac{
        width: 300px;
    }
}
@media screen and (max-width:700px) {
    .containerNavbarContac{
        display: none;
    }
}
@media screen and (max-width:500px){
    .titleContac{
        display: flex;
        width: 100%;
        justify-content: flex-start;
        padding-left: 20px;
    }
    .listContac{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contac{
        width: 300px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 10px 50px;
    }
}